
/* img{
    width: 600px;
    height: 350px;
} */


/* ALIGMENT IMAGE */
/* img{
    float: right;
    clear: right;
    width: 500px;
    height: 400px;
} */



/* CENTRING IMAGE */

/* img{
    display: block;
    margin: auto;
} */

/* BACK GROUND IMAGE */

/* #body{
    background-image: url('./car-images/supraaaaaaaaaaaa.avif');
} */


/* BACK GROUND REPEAT */

/* #body{
    background-image: url('./car-images/supraaaaaaaaaaaa.avif');
    background-repeat: no-repeat;
    background-attachment:fixed ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large; 
    
} */

/* /BACKGROUND POSITION */

/* body{
   background-image: url('./car-images/ep\ ex.jpeg');
   background-repeat: no-repeat;
   background-position: top;
   background-position:   center;
} */


/* SHORT HAND PROPERTIES */
/* body {
    background-image: url('./car-images/ep\ ex.jpeg') no-repeat top right;
} */

/* GRIDIANS */

/* body{
    background-image: linear-gradient(yellow , red);
    background-repeat: no-repeat;
    height: 100vh; 
}*/


/* #id{
    background-image: linear-gradient(to right, red, green);
    width: 500px;
    height: 500px;
    
} */

/* radialGradient */


/* #id{
    background-image: radial-gradient(red,blue);
    height: 300px;
    width: 400px;
} */


/* CONIC GRIDIAN */
/* #id{
    background-image: conic-gradient(red,blue,black,green);
    width: 600px;
    height: 600px;
} */




